In [14]:
import pandas as pd
import numpy as np
import random
import scipy.stats
import math
import seaborn as sns
from matplotlib import pyplot as plt
from random import sample
from scipy.stats import chisquare
from scipy.stats import geom
from scipy.stats import t
from scipy import stats
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score
from matplotlib.ticker import AutoMinorLocator
import statsmodels.api as sm
from statsmodels.api import OLS
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
%matplotlib inline

In [6]:
resume_read = pd.read_csv("data/resume.csv", na_values = "null")
resume_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 30 columns):
job_ad_id                 4870 non-null int64
job_city                  4870 non-null object
job_industry              4870 non-null object
job_type                  4870 non-null object
job_fed_contractor        3102 non-null float64
job_equal_opp_employer    4870 non-null int64
job_ownership             4870 non-null object
job_req_any               4870 non-null int64
job_req_communication     4870 non-null int64
job_req_education         4870 non-null int64
job_req_min_experience    2124 non-null object
job_req_computer          4870 non-null int64
job_req_organization      4870 non-null int64
job_req_school            4870 non-null object
received_callback         4870 non-null int64
firstname                 4870 non-null object
race                      4870 non-null object
gender                    4870 non-null object
years_college             4870 non-null int64
college_degree            4870 non-null int64
honors                    4870 non-null int64
worked_during_school      4870 non-null int64
years_experience          4870 non-null int64
computer_skills           4870 non-null int64
special_skills            4870 non-null int64
volunteer                 4870 non-null int64
military                  4870 non-null int64
employment_holes          4870 non-null int64
has_email_address         4870 non-null int64
resume_quality            4870 non-null object
dtypes: float64(1), int64(19), object(10)
memory usage: 1.1+ MB

In [7]:
len(resume_read.job_type.unique())

6

In [8]:
resume_read.honors.value_counts()

0    4613
1     257
Name: honors, dtype: int64

In [9]:
resume_read

,job_ad_id,job_city,job_industry,job_type,job_fed_contractor,job_equal_opp_employer,job_ownership,job_req_any,job_req_communication,job_req_education,...,honors,worked_during_school,years_experience,computer_skills,special_skills,volunteer,military,employment_holes,has_email_address,resume_quality
0,384,Chicago,manufacturing,supervisor,NaN,1,unknown,1,0,0,...,0,0,6,1,0,0,0,1,0,low
1,384,Chicago,manufacturing,supervisor,NaN,1,unknown,1,0,0,...,0,1,6,1,0,1,1,0,1,high
2,384,Chicago,manufacturing,supervisor,NaN,1,unknown,1,0,0,...,0,1,6,1,0,0,0,0,0,low
3,384,Chicago,manufacturing,supervisor,NaN,1,unknown,1,0,0,...,0,0,6,1,1,1,0,1,1,high
4,385,Chicago,other_service,secretary,0.0,1,nonprofit,1,0,0,...,0,1,22,1,0,0,0,0,1,high
5,386,Chicago,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,1,0,6,0,1,0,0,0,0,low
6,386,Chicago,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,0,1,5,1,1,1,0,0,1,high
7,385,Chicago,other_service,secretary,0.0,1,nonprofit,1,0,0,...,0,0,21,1,1,1,0,1,1,high
8,386,Chicago,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,0,0,3,1,1,0,0,0,0,low
9,386,Chicago,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,0,1,6,0,1,1,0,0,1,high
10,387,Chicago,other_service,secretary,0.0,1,nonprofit,1,0,0,...,0,0,8,1,1,1,0,1,1,high
11,387,Chicago,other_service,secretary,0.0,1,nonprofit,1,0,0,...,0,1,8,1,0,0,0,0,1,high
12,388,Chicago,business_and_personal_service,secretary,0.0,1,private,1,1,0,...,0,0,4,1,1,0,0,1,0,low
13,388,Chicago,business_and_personal_service,secretary,0.0,1,private,1,1,0,...,0,1,4,1,0,0,0,0,0,low
14,389,Chicago,wholesale_and_retail_trade,sales_rep,NaN,1,unknown,0,0,0,...,0,0,5,0,1,1,0,0,1,high
15,389,Chicago,wholesale_and_retail_trade,sales_rep,NaN,1,unknown,0,0,0,...,0,0,4,1,1,0,0,0,0,low
16,389,Chicago,wholesale_and_retail_trade,sales_rep,NaN,1,unknown,0,0,0,...,0,1,5,0,0,1,0,0,1,high
17,389,Chicago,wholesale_and_retail_trade,sales_rep,NaN,1,unknown,0,0,0,...,0,0,6,0,1,0,0,0,0,low
18,390,Chicago,wholesale_and_retail_trade,retail_sales,0.0,0,private,0,0,0,...,1,1,6,0,1,1,0,0,1,high
19,390,Chicago,wholesale_and_retail_trade,retail_sales,0.0,0,private,0,0,0,...,0,0,8,0,0,0,0,1,0,low
20,390,Chicago,wholesale_and_retail_trade,retail_sales,0.0,0,private,0,0,0,...,0,1,4,1,1,1,0,0,1,high
21,390,Chicago,wholesale_and_retail_trade,retail_sales,0.0,0,private,0,0,0,...,0,0,3,1,1,0,0,0,0,low
22,392,Chicago,wholesale_and_retail_trade,manager,0.0,0,unknown,1,0,1,...,0,0,2,0,0,0,0,0,0,low
23,391,Chicago,other_service,secretary,1.0,0,nonprofit,1,0,1,...,0,0,7,1,0,0,0,1,0,low
24,392,Chicago,wholesale_and_retail_trade,manager,0.0,0,unknown,1,0,1,...,0,0,3,1,1,1,0,0,1,high
25,391,Chicago,other_service,secretary,1.0,0,nonprofit,1,0,1,...,0,1,6,1,0,0,0,1,0,low
26,392,Chicago,wholesale_and_retail_trade,manager,0.0,0,unknown,1,0,1,...,0,0,4,1,1,1,0,0,1,high
27,391,Chicago,other_service,secretary,1.0,0,nonprofit,1,0,1,...,0,0,6,1,1,1,0,1,1,high
28,391,Chicago,other_service,secretary,1.0,0,nonprofit,1,0,1,...,0,1,7,1,0,0,0,0,1,high
29,392,Chicago,wholesale_and_retail_trade,manager,0.0,0,unknown,1,0,1,...,0,0,2,1,1,0,0,0,0,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,378,Boston,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,0,0,7,0,0,0,0,1,0,low
4841,378,Boston,wholesale_and_retail_trade,sales_rep,0.0,1,private,0,0,0,...,0,1,8,1,0,1,0,0,1,high
4842,1342,Boston,business_and_personal_service,secretary,0.0,0,public,1,1,0,...,0,1,16,1,1,1,0,0,1,high
4843,1342,Boston,business_and_personal_service,secretary,0.0,0,public,1,1,0,...,0,0,11,1,1,0,0,0,0,low
4844,1342,Boston,business_and_personal_service,secretary,0.0,0,public,1,1,0,...,0,0,2,1,1,0,0,1,0,low
4845,1342,Boston,business_and_personal_service,secretary,0.0,0,public,1,1,0,...,0,1,5,1,1,1,0,0,1,high
4846,379,Boston,wholesale_and_retail_trade,sales_rep,0.0,0,private,0,0,0,...,0,1,2,1,0,1,1,0,1,high
4847,379,Boston,wholesale_and_retail_trade,sales_rep,0.0,0,private,0,0,0,...,0,0,7,0,0,0,0,1,0,low
4848,379,Boston,wholesale_and_retail_trade,sales_rep,0.0,0,private,0,0,0,...,0,1,8,1,0,1,0,0,1,high
4849,379,Boston,wholesale_and_retail_trade,sales_rep,0.0,0,private,0,0,0,...,0,1,6,1,0,0,0,0,0,low
4850,1343,Boston,business_and_personal_service,supervisor,0.0,0,private,0,0,0,...,0,0,4,1,1,0,0,1,0,low
4851,1343,Boston,business_and_personal_service,supervisor,0.0,0,private,0,0,0,...,0,0,19,0,0,1,0,0,1,high
4852,1343,Boston,business_and_personal_service,supervisor,0.0,0,private,0,0,0,...,0,0,13,1,1,0,0,1,1,low
4853,1343,Boston,business_and_personal_service,supervisor,0.0,0,private,0,0,0,...,0,0,18,1,1,1,0,1,1,high
4854,380,Boston,other_service,sales_rep,NaN,0,unknown,0,0,0,...,0,1,8,1,0,1,0,0,1,high
4855,380,Boston,other_service,sales_rep,NaN,0,unknown,0,0,0,...,0,0,7,0,0,0,0,1,0,low
4856,380,Boston,other_service,sales_rep,NaN,0,unknown,0,0,0,...,0,1,6,1,0,0,0,0,0,low
4857,380,Boston,other_service,sales_rep,NaN,0,unknown,0,0,0,...,0,1,2,1,0,1,1,0,1,high
4858,381,Boston,wholesale_and_retail_trade,retail_sales,0.0,0,private,1,0,0,...,0,1,2,1,0,1,1,0,1,high
4859,381,Boston,wholesale_and_retail_trade,retail_sales,0.0,0,private,1,0,0,...,0,1,6,1,0,0,0,0,0,low
4860,381,Boston,wholesale_and_retail_trade,retail_sales,0.0,0,private,1,0,0,...,0,1,8,1,0,1,0,0,1,high
4861,381,Boston,wholesale_and_retail_trade,retail_sales,0.0,0,private,1,0,0,...,0,0,7,0,0,0,0,1,0,low
4862,1344,Boston,finance_insurance_real_estate,secretary,0.0,0,private,1,0,0,...,0,1,13,1,1,0,0,0,0,low
4863,1344,Boston,finance_insurance_real_estate,secretary,0.0,0,private,1,0,0,...,0,0,16,1,1,0,0,1,1,high
4864,1344,Boston,finance_insurance_real_estate,secretary,0.0,0,private,1,0,0,...,1,1,26,1,1,1,0,1,1,high
4865,1344,Boston,finance_insurance_real_estate,secretary,0.0,0,private,1,0,0,...,0,0,1,1,1,0,0,1,0,low
4866,382,Boston,other_service,manager,NaN,0,unknown,0,0,0,...,0,1,6,1,0,0,0,0,0,low
4867,382,Boston,other_service,manager,NaN,0,unknown,0,0,0,...,0,1,8,1,0,1,0,0,1,high
4868,382,Boston,other_service,manager,NaN,0,unknown,0,0,0,...,0,1,2,1,0,1,1,0,1,high
4869,382,Boston,other_service,manager,NaN,0,unknown,0,0,0,...,0,0,7,0,0,0,0,1,0,low

In [22]:
resume = resume_read[["received_callback","job_city","college_degree", "years_experience", "honors", 
                      "military", "has_email_address", "race", "gender"]]
print(resume.head())
resume.info()

   received_callback job_city  college_degree  years_experience  honors  \
0                  0  Chicago               1                 6       0
1                  0  Chicago               0                 6       0
2                  0  Chicago               1                 6       0
3                  0  Chicago               0                 6       0
4                  0  Chicago               0                22       0

   military  has_email_address   race gender
0         0                  0  white      f
1         1                  1  white      f
2         0                  0  black      f
3         0                  1  black      f
4         0                  1  white      f
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4870 entries, 0 to 4869
Data columns (total 9 columns):
received_callback    4870 non-null int64
job_city             4870 non-null object
college_degree       4870 non-null int64
years_experience     4870 non-null int64
honors               4870 non-null int64
military             4870 non-null int64
has_email_address    4870 non-null int64
race                 4870 non-null object
gender               4870 non-null object
dtypes: int64(6), object(3)
memory usage: 342.5+ KB

In [24]:
ytrain = np.array(resume[["received_callback"]])
Xtrain = np.array(resume[["job_city","college_degree", "years_experience", "honors", 
                      "military", "has_email_address", "race", "gender"]])
log_reg = sm.Logit(ytrain,Xtrain).fit()

TypeError: unsupported operand type(s) for -: 'str' and 'str'