In [221]:
import datetime
import numpy as np
import pandas as pd

report_name = "C69"
start_date= "01.01.2023" #"%d.%m.%Y"
end_date= "31.12.2023" #"%d.%m.%Y"
period = "D"
day_of = 13
holidays = pd.read_excel('holidays.xlsx', index_col=None, header=0)
holidays['CALENDAR_DATE']= pd.to_datetime(holidays['CALENDAR_DATE'],format="%d/%m/%Y").astype('datetime64[ns]')
#print(holidays)
holidays= holidays['CALENDAR_DATE'].tolist()
start_date = datetime.datetime.strptime(start_date, "%d.%m.%Y")
end_date = datetime.datetime.strptime(end_date, "%d.%m.%Y")
start_year = start_date.year
holidays

[Timestamp('2022-02-05 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-12 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-03-05 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-12 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-19 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-26 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-09 00:00:00'),
 Timestamp('2022-04-10 00:00:00'),
 Timestamp('2022-04-16 00:00:00'),
 Timestamp('2022-04-17 00:00:00'),
 Timestamp('2022-04-23 00:00:00'),
 Timestamp('2022-04-24 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-01 00:00:00'),
 Timestamp('2022-05-02 00:00:00'),
 Timestamp('2022-05-03 00:00:00'),
 Timestamp('2022-05-04 00:00:00'),
 Timestamp('2022-05-07 00:00:00'),
 Timestamp('2022-05-08 00:00:00'),
 Timestamp('2022-05-14 00:00:00'),
 Timestamp('2022-05-15 00:00:00'),
 Timestamp('2022-05-19 00:00:00'),
 Timestamp('2022-05-21 00:00:00'),
 Timestamp('2022-05-22 00:00:00'),
 Timestamp('2022-05-28 00:00:00'),
 Timestamp('2022-05-29 00:00:00'),
 Timestamp('2022-06-04 00:00:00'),
 Timestamp('2022-06-05 00:00:00'),
 Timestamp('2022-06-11 00:00:00'),
 Timestamp('2022-06-12 00:00:00'),
 Timestamp('2022-06-18 00:00:00'),
 Timestamp('2022-06-19 00:00:00'),
 Timestamp('2022-06-25 00:00:00'),
 Timestamp('2022-06-26 00:00:00'),
 Timestamp('2022-07-02 00:00:00'),
 Timestamp('2022-07-03 00:00:00'),
 Timestamp('2022-07-09 00:00:00'),
 Timestamp('2022-07-10 00:00:00'),
 Timestamp('2022-07-11 00:00:00'),
 Timestamp('2022-07-12 00:00:00'),
 Timestamp('2022-07-15 00:00:00'),
 Timestamp('2022-07-16 00:00:00'),
 Timestamp('2022-07-17 00:00:00'),
 Timestamp('2022-07-23 00:00:00'),
 Timestamp('2022-07-24 00:00:00'),
 Timestamp('2022-07-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-06 00:00:00'),
 Timestamp('2022-08-07 00:00:00'),
 Timestamp('2022-08-13 00:00:00'),
 Timestamp('2022-08-14 00:00:00'),
 Timestamp('2022-08-20 00:00:00'),
 Timestamp('2022-08-21 00:00:00'),
 Timestamp('2022-08-27 00:00:00'),
 Timestamp('2022-08-28 00:00:00'),
 Timestamp('2022-08-30 00:00:00'),
 Timestamp('2022-09-03 00:00:00'),
 Timestamp('2022-09-04 00:00:00'),
 Timestamp('2022-09-10 00:00:00'),
 Timestamp('2022-09-11 00:00:00'),
 Timestamp('2022-09-17 00:00:00'),
 Timestamp('2022-09-18 00:00:00'),
 Timestamp('2022-09-24 00:00:00'),
 Timestamp('2022-09-25 00:00:00'),
 Timestamp('2022-10-01 00:00:00'),
 Timestamp('2022-10-02 00:00:00'),
 Timestamp('2022-10-08 00:00:00'),
 Timestamp('2022-10-09 00:00:00'),
 Timestamp('2022-10-15 00:00:00'),
 Timestamp('2022-10-16 00:00:00'),
 Timestamp('2022-10-22 00:00:00'),
 Timestamp('2022-10-23 00:00:00'),
 Timestamp('2022-10-29 00:00:00'),
 Timestamp('2022-10-30 00:00:00'),
 Timestamp('2022-11-05 00:00:00'),
 Timestamp('2022-11-06 00:00:00'),
 Timestamp('2022-11-12 00:00:00'),
 Timestamp('2022-11-13 00:00:00'),
 Timestamp('2022-11-19 00:00:00'),
 Timestamp('2022-11-20 00:00:00'),
 Timestamp('2022-11-26 00:00:00'),
 Timestamp('2022-11-27 00:00:00'),
 Timestamp('2022-12-03 00:00:00'),
 Timestamp('2022-12-04 00:00:00'),
 Timestamp('2022-12-10 00:00:00'),
 Timestamp('2022-12-11 00:00:00'),
 Timestamp('2022-12-17 00:00:00'),
 Timestamp('2022-12-18 00:00:00'),
 Timestamp('2022-12-24 00:00:00'),
 Timestamp('2022-12-25 00:00:00'),
 Timestamp('2022-12-31 00:00:00'),
 Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-01-07 00:00:00'),
 Timestamp('2023-01-08 00:00:00'),
 Timestamp('2023-01-14 00:00:00'),
 Timestamp('2023-01-15 00:00:00'),
 Timestamp('2023-01-21 00:00:00'),
 Timestamp('2023-01-22 00:00:00'),
 Timestamp('2023-01-28 00:00:00'),
 Timestamp('2023-01-29 00:00:00'),
 Timestamp('2023-02-04 00:00:00'),
 Timestamp('2023-02-05 00:00:00'),
 Timestamp('2023-02-11 00:00:00'),
 Timestamp('2023-02-12 00:00:00'),
 Timestamp('2023-02-18 00:00:00'),
 Timestamp('2023-02-19 00:00:00'),
 Timestamp('2023-02-25 00:00:00'),
 Timestamp('2023-02-26 00:00:00'),
 Timestamp('2023-03-04 00:00:00'),
 Timestamp('2023-03-05 00:00:00'),
 Timestamp('2023-03-11 00:00:00'),
 Timestamp('2023-03-12 00:00:00'),
 Timestamp('2023-03-18 00:00:00'),
 Timestamp('2023-03-19 00:00:00'),
 Timestamp('2023-03-25 00:00:00'),
 Timestamp('2023-03-26 00:00:00'),
 Timestamp('2023-04-01 00:00:00'),
 Timestamp('2023-04-02 00:00:00'),
 Timestamp('2023-04-08 00:00:00'),
 Timestamp('2023-04-09 00:00:00'),
 Timestamp('2023-04-15 00:00:00'),
 Timestamp('2023-04-16 00:00:00'),
 Timestamp('2023-04-21 00:00:00'),
 Timestamp('2023-04-22 00:00:00'),
 Timestamp('2023-04-23 00:00:00'),
 Timestamp('2023-04-29 00:00:00'),
 Timestamp('2023-04-30 00:00:00'),
 Timestamp('2023-05-01 00:00:00'),
 Timestamp('2023-05-06 00:00:00'),
 Timestamp('2023-05-07 00:00:00'),
 Timestamp('2023-05-13 00:00:00'),
 Timestamp('2023-05-14 00:00:00'),
 Timestamp('2023-05-19 00:00:00'),
 Timestamp('2023-05-20 00:00:00'),
 Timestamp('2023-05-21 00:00:00'),
 Timestamp('2023-05-27 00:00:00'),
 Timestamp('2023-05-28 00:00:00'),
 Timestamp('2023-06-03 00:00:00'),
 Timestamp('2023-06-04 00:00:00'),
 Timestamp('2023-06-10 00:00:00'),
 Timestamp('2023-06-11 00:00:00'),
 Timestamp('2023-06-17 00:00:00'),
 Timestamp('2023-06-18 00:00:00'),
 Timestamp('2023-06-24 00:00:00'),
 Timestamp('2023-06-25 00:00:00'),
 Timestamp('2023-06-28 00:00:00'),
 Timestamp('2023-06-29 00:00:00'),
 Timestamp('2023-06-30 00:00:00'),
 Timestamp('2023-07-01 00:00:00'),
 Timestamp('2023-07-02 00:00:00'),
 Timestamp('2023-07-08 00:00:00'),
 Timestamp('2023-07-09 00:00:00'),
 Timestamp('2023-07-15 00:00:00'),
 Timestamp('2023-07-16 00:00:00'),
 Timestamp('2023-07-22 00:00:00'),
 Timestamp('2023-07-23 00:00:00'),
 Timestamp('2023-07-29 00:00:00'),
 Timestamp('2023-07-30 00:00:00'),
 Timestamp('2023-08-05 00:00:00'),
 Timestamp('2023-08-06 00:00:00'),
 Timestamp('2023-08-12 00:00:00'),
 Timestamp('2023-08-13 00:00:00'),
 Timestamp('2023-08-19 00:00:00'),
 Timestamp('2023-08-20 00:00:00'),
 Timestamp('2023-08-26 00:00:00'),
 Timestamp('2023-08-27 00:00:00'),
 Timestamp('2023-08-30 00:00:00'),
 Timestamp('2023-09-02 00:00:00'),
 Timestamp('2023-09-03 00:00:00'),
 Timestamp('2023-09-09 00:00:00'),
 Timestamp('2023-09-10 00:00:00'),
 Timestamp('2023-09-16 00:00:00'),
 Timestamp('2023-09-17 00:00:00'),
 Timestamp('2023-09-23 00:00:00'),
 Timestamp('2023-09-24 00:00:00'),
 Timestamp('2023-09-30 00:00:00'),
 Timestamp('2023-10-01 00:00:00'),
 Timestamp('2023-10-07 00:00:00'),
 Timestamp('2023-10-08 00:00:00'),
 Timestamp('2023-10-14 00:00:00'),
 Timestamp('2023-10-15 00:00:00'),
 Timestamp('2023-10-21 00:00:00'),
 Timestamp('2023-10-22 00:00:00'),
 Timestamp('2023-10-28 00:00:00'),
 Timestamp('2023-10-29 00:00:00'),
 Timestamp('2023-11-04 00:00:00'),
 Timestamp('2023-11-05 00:00:00'),
 Timestamp('2023-11-11 00:00:00'),
 Timestamp('2023-11-12 00:00:00'),
 Timestamp('2023-11-18 00:00:00'),
 Timestamp('2023-11-19 00:00:00'),
 Timestamp('2023-11-25 00:00:00'),
 Timestamp('2023-11-26 00:00:00'),
 Timestamp('2023-12-02 00:00:00'),
 Timestamp('2023-12-03 00:00:00'),
 Timestamp('2023-12-09 00:00:00'),
 Timestamp('2023-12-10 00:00:00'),
 Timestamp('2023-12-16 00:00:00'),
 Timestamp('2023-12-17 00:00:00'),
 Timestamp('2023-12-23 00:00:00'),
 Timestamp('2023-12-24 00:00:00'),
 Timestamp('2023-12-30 00:00:00'),
 Timestamp('2023-12-31 00:00:00'),
 Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-01-06 00:00:00'),
 Timestamp('2024-01-07 00:00:00'),
 Timestamp('2024-01-13 00:00:00'),
 Timestamp('2024-01-14 00:00:00'),
 Timestamp('2024-01-20 00:00:00'),
 Timestamp('2024-01-21 00:00:00'),
 Timestamp('2024-01-27 00:00:00'),
 Timestamp('2024-01-28 00:00:00')]

In [217]:
def send_schedule_datemaker():

    if period == "M":
        
        
        
        #dq_send_date col
        dq_send_date = pd.bdate_range(start=start_date,end=end_date,freq=period,name="DQ_SEND_DATE").to_series()
        dq_send_date = np.array(dq_send_date.dt.to_period(period).astype(str))
        dq_send_date = pd.Series(dq_send_date)
        dq_send_date = dq_send_date.apply(lambda x: np.busday_offset(x, day_of-1, roll='forward',holidays=holidays))
        dq_send_date = dq_send_date.to_frame(name="DQ_SEND_DATE")
        #misc
        
        
    elif period == "D":
        
        
        
        #dq_send_date col
        dq_send_date = pd.bdate_range(start=start_date,end=end_date,freq="C",name="DQ_SEND_DATE"
                                      ,weekmask=[1,1,1,1,1,0,0],holidays=holidays)
        dq_send_date = pd.DataFrame(dq_send_date)
    
    cols = []
    df = pd.DataFrame(dq_send_date)

    # Create a Pandas Excel writer using XlsxWriter as the engine.
    writer = pd.ExcelWriter('C:/Users/MuratSey/Desktop/DQ/send_schedule/{report_name}_{suffix}.xlsx'
                            .format(report_name=report_name,suffix=start_year), engine='xlsxwriter')

    # Convert the dataframe to an XlsxWriter Excel object.
    df.to_excel(writer, sheet_name='Sheet1')

    # Close the Pandas Excel writer and output the Excel file.
    writer.save()
    return dq_send_date

send_schedule_datemaker()

   DQ_SEND_DATE
0    2023-01-18
1    2023-02-17
2    2023-03-17
3    2023-04-19
4    2023-05-18
5    2023-06-19
6    2023-07-19
7    2023-08-17
8    2023-09-19
9    2023-10-18
10   2023-11-17
11   2023-12-19

NameError: name 'dq_send_date' is not defined

In [170]:
days = pd.bdate_range(start=start_date,end=end_date,freq=period,name="DQ_SEND_DATE").to_series()
days = np.array(days.dt.to_period(period).astype(str))
days = pd.Series(days)
days = days.apply(lambda x: np.busday_offset(x, day_of-1, roll='forward',holidays=holidays))
days.to_frame(name="DQ_SEND_DATE")

   DQ_SEND_DATE
0    2023-01-18
1    2023-02-17
2    2023-03-17
3    2023-04-19
4    2023-05-18
5    2023-06-19
6    2023-07-19
7    2023-08-17
8    2023-09-19
9    2023-10-18
10   2023-11-17
11   2023-12-19

In [197]:
holidays

[Timestamp('2022-02-05 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-12 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-03-05 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-12 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-19 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-26 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-09 00:00:00'),
 Timestamp('2022-04-10 00:00:00'),
 Timestamp('2022-04-16 00:00:00'),
 Timestamp('2022-04-17 00:00:00'),
 Timestamp('2022-04-23 00:00:00'),
 Timestamp('2022-04-24 00:00:00'),
 Timestamp('2022-04-30 00:00:00'),
 Timestamp('2022-05-01 00:00:00'),
 Timestamp('2022-05-02 00:00:00'),
 Timestamp('2022-05-03 00:00:00'),
 Timestamp('2022-05-04 00:00:00'),
 Timestamp('2022-05-07 00:00:00'),
 Timestamp('2022-05-08 00:00:00'),
 Timestamp('2022-05-14 00:00:00'),
 Timestamp('2022-05-15 00:00:00'),
 Timestamp('2022-05-19 00:00:00'),
 Timestamp('2022-05-21 00:00:00'),
 Timestamp('2022-05-22 00:00:00'),
 Timestamp('2022-05-28 00:00:00'),
 Timestamp('2022-05-29 00:00:00'),
 Timestamp('2022-06-04 00:00:00'),
 Timestamp('2022-06-05 00:00:00'),
 Timestamp('2022-06-11 00:00:00'),
 Timestamp('2022-06-12 00:00:00'),
 Timestamp('2022-06-18 00:00:00'),
 Timestamp('2022-06-19 00:00:00'),
 Timestamp('2022-06-25 00:00:00'),
 Timestamp('2022-06-26 00:00:00'),
 Timestamp('2022-07-02 00:00:00'),
 Timestamp('2022-07-03 00:00:00'),
 Timestamp('2022-07-09 00:00:00'),
 Timestamp('2022-07-10 00:00:00'),
 Timestamp('2022-07-11 00:00:00'),
 Timestamp('2022-07-12 00:00:00'),
 Timestamp('2022-07-15 00:00:00'),
 Timestamp('2022-07-16 00:00:00'),
 Timestamp('2022-07-17 00:00:00'),
 Timestamp('2022-07-23 00:00:00'),
 Timestamp('2022-07-24 00:00:00'),
 Timestamp('2022-07-30 00:00:00'),
 Timestamp('2022-07-31 00:00:00'),
 Timestamp('2022-08-06 00:00:00'),
 Timestamp('2022-08-07 00:00:00'),
 Timestamp('2022-08-13 00:00:00'),
 Timestamp('2022-08-14 00:00:00'),
 Timestamp('2022-08-20 00:00:00'),
 Timestamp('2022-08-21 00:00:00'),
 Timestamp('2022-08-27 00:00:00'),
 Timestamp('2022-08-28 00:00:00'),
 Timestamp('2022-08-30 00:00:00'),
 Timestamp('2022-09-03 00:00:00'),
 Timestamp('2022-09-04 00:00:00'),
 Timestamp('2022-09-10 00:00:00'),
 Timestamp('2022-09-11 00:00:00'),
 Timestamp('2022-09-17 00:00:00'),
 Timestamp('2022-09-18 00:00:00'),
 Timestamp('2022-09-24 00:00:00'),
 Timestamp('2022-09-25 00:00:00'),
 Timestamp('2022-10-01 00:00:00'),
 Timestamp('2022-10-02 00:00:00'),
 Timestamp('2022-10-08 00:00:00'),
 Timestamp('2022-10-09 00:00:00'),
 Timestamp('2022-10-15 00:00:00'),
 Timestamp('2022-10-16 00:00:00'),
 Timestamp('2022-10-22 00:00:00'),
 Timestamp('2022-10-23 00:00:00'),
 Timestamp('2022-10-29 00:00:00'),
 Timestamp('2022-10-30 00:00:00'),
 Timestamp('2022-11-05 00:00:00'),
 Timestamp('2022-11-06 00:00:00'),
 Timestamp('2022-11-12 00:00:00'),
 Timestamp('2022-11-13 00:00:00'),
 Timestamp('2022-11-19 00:00:00'),
 Timestamp('2022-11-20 00:00:00'),
 Timestamp('2022-11-26 00:00:00'),
 Timestamp('2022-11-27 00:00:00'),
 Timestamp('2022-12-03 00:00:00'),
 Timestamp('2022-12-04 00:00:00'),
 Timestamp('2022-12-10 00:00:00'),
 Timestamp('2022-12-11 00:00:00'),
 Timestamp('2022-12-17 00:00:00'),
 Timestamp('2022-12-18 00:00:00'),
 Timestamp('2022-12-24 00:00:00'),
 Timestamp('2022-12-25 00:00:00'),
 Timestamp('2022-12-31 00:00:00'),
 Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-01-07 00:00:00'),
 Timestamp('2023-01-08 00:00:00'),
 Timestamp('2023-01-14 00:00:00'),
 Timestamp('2023-01-15 00:00:00'),
 Timestamp('2023-01-21 00:00:00'),
 Timestamp('2023-01-22 00:00:00'),
 Timestamp('2023-01-28 00:00:00'),
 Timestamp('2023-01-29 00:00:00'),
 Timestamp('2023-02-04 00:00:00'),
 Timestamp('2023-02-05 00:00:00'),
 Timestamp('2023-02-11 00:00:00'),
 Timestamp('2023-02-12 00:00:00'),
 Timestamp('2023-02-18 00:00:00'),
 Timestamp('2023-02-19 00:00:00'),
 Timestamp('2023-02-25 00:00:00'),
 Timestamp('2023-02-26 00:00:00'),
 Timestamp('2023-03-04 00:00:00'),
 Timestamp('2023-03-05 00:00:00'),
 Timestamp('2023-03-11 00:00:00'),
 Timestamp('2023-03-12 00:00:00'),
 Timestamp('2023-03-18 00:00:00'),
 Timestamp('2023-03-19 00:00:00'),
 Timestamp('2023-03-25 00:00:00'),
 Timestamp('2023-03-26 00:00:00'),
 Timestamp('2023-04-01 00:00:00'),
 Timestamp('2023-04-02 00:00:00'),
 Timestamp('2023-04-08 00:00:00'),
 Timestamp('2023-04-09 00:00:00'),
 Timestamp('2023-04-15 00:00:00'),
 Timestamp('2023-04-16 00:00:00'),
 Timestamp('2023-04-21 00:00:00'),
 Timestamp('2023-04-22 00:00:00'),
 Timestamp('2023-04-23 00:00:00'),
 Timestamp('2023-04-29 00:00:00'),
 Timestamp('2023-04-30 00:00:00'),
 Timestamp('2023-05-01 00:00:00'),
 Timestamp('2023-05-06 00:00:00'),
 Timestamp('2023-05-07 00:00:00'),
 Timestamp('2023-05-13 00:00:00'),
 Timestamp('2023-05-14 00:00:00'),
 Timestamp('2023-05-19 00:00:00'),
 Timestamp('2023-05-20 00:00:00'),
 Timestamp('2023-05-21 00:00:00'),
 Timestamp('2023-05-27 00:00:00'),
 Timestamp('2023-05-28 00:00:00'),
 Timestamp('2023-06-03 00:00:00'),
 Timestamp('2023-06-04 00:00:00'),
 Timestamp('2023-06-10 00:00:00'),
 Timestamp('2023-06-11 00:00:00'),
 Timestamp('2023-06-17 00:00:00'),
 Timestamp('2023-06-18 00:00:00'),
 Timestamp('2023-06-24 00:00:00'),
 Timestamp('2023-06-25 00:00:00'),
 Timestamp('2023-06-28 00:00:00'),
 Timestamp('2023-06-29 00:00:00'),
 Timestamp('2023-06-30 00:00:00'),
 Timestamp('2023-07-01 00:00:00'),
 Timestamp('2023-07-02 00:00:00'),
 Timestamp('2023-07-08 00:00:00'),
 Timestamp('2023-07-09 00:00:00'),
 Timestamp('2023-07-15 00:00:00'),
 Timestamp('2023-07-16 00:00:00'),
 Timestamp('2023-07-22 00:00:00'),
 Timestamp('2023-07-23 00:00:00'),
 Timestamp('2023-07-29 00:00:00'),
 Timestamp('2023-07-30 00:00:00'),
 Timestamp('2023-08-05 00:00:00'),
 Timestamp('2023-08-06 00:00:00'),
 Timestamp('2023-08-12 00:00:00'),
 Timestamp('2023-08-13 00:00:00'),
 Timestamp('2023-08-19 00:00:00'),
 Timestamp('2023-08-20 00:00:00'),
 Timestamp('2023-08-26 00:00:00'),
 Timestamp('2023-08-27 00:00:00'),
 Timestamp('2023-08-30 00:00:00'),
 Timestamp('2023-09-02 00:00:00'),
 Timestamp('2023-09-03 00:00:00'),
 Timestamp('2023-09-09 00:00:00'),
 Timestamp('2023-09-10 00:00:00'),
 Timestamp('2023-09-16 00:00:00'),
 Timestamp('2023-09-17 00:00:00'),
 Timestamp('2023-09-23 00:00:00'),
 Timestamp('2023-09-24 00:00:00'),
 Timestamp('2023-09-30 00:00:00'),
 Timestamp('2023-10-01 00:00:00'),
 Timestamp('2023-10-07 00:00:00'),
 Timestamp('2023-10-08 00:00:00'),
 Timestamp('2023-10-14 00:00:00'),
 Timestamp('2023-10-15 00:00:00'),
 Timestamp('2023-10-21 00:00:00'),
 Timestamp('2023-10-22 00:00:00'),
 Timestamp('2023-10-28 00:00:00'),
 Timestamp('2023-10-29 00:00:00'),
 Timestamp('2023-11-04 00:00:00'),
 Timestamp('2023-11-05 00:00:00'),
 Timestamp('2023-11-11 00:00:00'),
 Timestamp('2023-11-12 00:00:00'),
 Timestamp('2023-11-18 00:00:00'),
 Timestamp('2023-11-19 00:00:00'),
 Timestamp('2023-11-25 00:00:00'),
 Timestamp('2023-11-26 00:00:00'),
 Timestamp('2023-12-02 00:00:00'),
 Timestamp('2023-12-03 00:00:00'),
 Timestamp('2023-12-09 00:00:00'),
 Timestamp('2023-12-10 00:00:00'),
 Timestamp('2023-12-16 00:00:00'),
 Timestamp('2023-12-17 00:00:00'),
 Timestamp('2023-12-23 00:00:00'),
 Timestamp('2023-12-24 00:00:00'),
 Timestamp('2023-12-30 00:00:00'),
 Timestamp('2023-12-31 00:00:00'),
 Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-01-06 00:00:00'),
 Timestamp('2024-01-07 00:00:00'),
 Timestamp('2024-01-13 00:00:00'),
 Timestamp('2024-01-14 00:00:00'),
 Timestamp('2024-01-20 00:00:00'),
 Timestamp('2024-01-21 00:00:00'),
 Timestamp('2024-01-27 00:00:00'),
 Timestamp('2024-01-28 00:00:00')]

In [215]:
import pandas as pd  
from datetime import datetime

exclude = [datetime(2020, 1, 7), datetime(2020, 1, 27)]

pd.bdate_range('2020/1/1','2020/1/31',freq='C',  holidays=exclude, )

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-20', '2020-01-21', '2020-01-22',
               '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='C')

In [222]:
dq_send_date = pd.date_range(start=start_date,end=end_date,freq=period,name="DQ_SEND_DATE").to_series()
dq_send_date = np.array(dq_send_date.dt.to_period(period).astype(str))
dq_send_date = pd.Series(dq_send_date)
dq_send_date = dq_send_date.apply(lambda x: np.busday_offset(x, day_of-1, roll='forward',holidays=holidays))
dq_send_date = dq_send_date.to_frame(name="DQ_SEND_DATE")
dq_send_date

    DQ_SEND_DATE
0     2023-01-18
1     2023-01-18
2     2023-01-19
3     2023-01-20
4     2023-01-23
5     2023-01-24
6     2023-01-25
7     2023-01-25
8     2023-01-25
9     2023-01-26
10    2023-01-27
11    2023-01-30
12    2023-01-31
13    2023-02-01
14    2023-02-01
15    2023-02-01
16    2023-02-02
17    2023-02-03
18    2023-02-06
19    2023-02-07
20    2023-02-08
21    2023-02-08
22    2023-02-08
23    2023-02-09
24    2023-02-10
25    2023-02-13
26    2023-02-14
27    2023-02-15
28    2023-02-15
29    2023-02-15
..           ...
335   2023-12-20
336   2023-12-20
337   2023-12-20
338   2023-12-21
339   2023-12-22
340   2023-12-25
341   2023-12-26
342   2023-12-27
343   2023-12-27
344   2023-12-27
345   2023-12-28
346   2023-12-29
347   2024-01-02
348   2024-01-03
349   2024-01-04
350   2024-01-04
351   2024-01-04
352   2024-01-05
353   2024-01-08
354   2024-01-09
355   2024-01-10
356   2024-01-11
357   2024-01-11
358   2024-01-11
359   2024-01-12
360   2024-01-15
361   2024-01-16
362   2024-01-17
363   2024-01-18
364   2024-01-18

[365 rows x 1 columns]